body {
  margin: 0;
  box-sizing: border-box;
  background-color: lightgray;
}

.header {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 25px 30px;
}

.title {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.title-name {
  margin: 0;
  font-size: 40px;
  font-family: "Inknut Antiqua", serif;
  font-weight: 100;
  color: white;
}

.input {
  height: 25px;
  width: 250px;
}

.btn {
  margin-left: 10px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  background-color: rgb(126, 62, 126);
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.btn:hover {
  background-color: rgb(189, 110, 189);
}

.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 100vh;
}

.s1 {
  width: 100%;
}

.original {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.js-show-list {
  display: block;
  width: 210px;
  padding: 20px;
  margin: 10px;
  background-color: rgb(70, 105, 105);
}

.show-list-title {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.s2 {
  width: 30%;
  padding: 0 30px;
}

.fav__title {
  margin: 0;
  text-align: center;
  font-family: "Inknut Antiqua", serif;
  font-weight: 100;
}

.fav__title__container {
  border-bottom: 2px solid black;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.fav-list-item {
  display: flex;
  flex-direction: row-reverse;
}
.main-fav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  width: 125px;
}

.title-fav {
  margin: 0;
  font-family: sans-serif;
}

.delete-btn {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.js-fav-image {
  margin-top: 5px;
  height: 150px;
  width: 106px;
}

.selected {
  background-color: rgb(126, 62, 126);
}
